/* Contact Info Section */
*{
    padding: 0px;
    margin: 0px;
}
.contact-info {
    margin-top: 40px;
    background-color: bisque;
  }
  
  .contact-info h2 {
    font-size: 2rem;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contact-info ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-info li {
    margin: 0 15px;
  }
  
  .contact-info a {
    color: #333;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  
  .contact-info a:hover {
    color: #0077b5; /* Change to your brand color */
  }
  
  /* FontAwesome Icons */
  .fab {
    font-size: 2rem;
  }